.ModalAddTakenBooks.entering{
    transform: scale(100%) translate(-50%, -50%) ;
    opacity: 1;
}

.ModalAddTakenBooks.entered{
    transform: scale(100%) translate(-50%, -50%);
    opacity: 1;
}

.ModalAddTakenBooks.exiting{
    transform: scale(90%) translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
}

.ModalAddTakenBooks.exited{
    transform: scale(90%) translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
}

.ModalDelete.entering{
    transform: scale(100%) translate(-50%, -50%);
    opacity: 1;
}

.ModalDelete.entered{
    transform: scale(100%) translate(-50%, -50%);
    opacity: 1;
}
.ModalDelete.exiting{
    transform: scale(95%) translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
}
.ModalDelete.exited{
    transform: scale(95%) translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
}


.InfoModal-container.entering{
    opacity: 1;
}

.InfoModal-container.entered{
    opacity: 1;
}

.InfoModal-container.exiting{
    visibility: hidden;
    opacity: 0;
}

.InfoModal-container.exited{
    visibility: hidden;
    opacity: 0;
}

.Modal.entering{
    opacity: 1;
}

.Modal.entered{
    opacity: 1;
}
.Modal.exiting{
    opacity: 0;
}
.Modal.exited{
    opacity: 0;
}


