.ModalAddVisitor.entering{
    transform: scale(100%) translate(-50%, -50%) ;
    opacity: 1;
}

.ModalAddVisitor.entered{
    transform: scale(100%) translate(-50%, -50%);
    opacity: 1;
}

.ModalAddVisitor.exiting{
    transform: scale(90%) translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
}

.ModalAddVisitor.exited{
    transform: scale(90%) translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
}